@model VacationAccrual.Models.VacationAccrualViewModel
<div style="text-align:center"><h3>Vacation (PTO) Accrual Forecast Calculator</h3></div>
<br />
@using(Html.BeginForm())
{
    <div style="text-align:center">
        <label>Current Pay Period Startdate:</label>&nbsp;
        @Html.DropDownListFor(m => m.SelectedStartDate, Model.StartDateList) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Max Balance Limit:</label>&nbsp;
        @Html.TextBoxFor(m => m.MaxBalance, new { @maxlength = "3", @class = "text-box"}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Pay Periods:</label>&nbsp;
        @Html.DropDownListFor(m => m.SelectedPeriods, Model.Periods)
        <br />
        <label>Accrual:</label>&nbsp;
        @Html.TextBoxFor(m => m.Accural, new { @maxlength = "4", @class = "text-box"})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Previous Pay Period Balance:</label>&nbsp;
        @Html.TextBoxFor(m => m.CurrentBalance, new { @maxlength = "6", @class = "text-box"})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="submitBtn" type="submit" name="Command" value="Submit" class="btn btn-primary" />
    </div>
    <br /><br />
    if (Model != null && Model.PeriodList !=null) 
    {
        <table id="periodsTbl" align="center" class="table table-bordered table-condensed table-hover">
            <thead> 
                <tr>
                    <th>Period</th>
                    <th>Accural</th>
                    <th>Take</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.PeriodList)
                    {
                        <tr>
                            <td>@item.Period</td>
                            <td class="accural">@item.Accural</td>
                            <td>@Html.TextBoxFor(m => item.Take, new { @maxlength = "4", @class = "take" })</td>
                            <td class="balance">@item.Balance</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
@section Scripts {
    <script>
        $(document).ready(function(){
            $("#periodsTbl td:nth-child(4)").each(function () {
                if (parseInt($(this).text()) >= @Model.MaxBalance) {
                    $(this).addClass('red-yellow');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#periodsTbl tr").each(function (index) {
                if (index == 1) {
                    $(this).find(".take").attr('readonly', true);
                    $(this).find(".take").addClass('input-disabled');
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#periodsTbl input").change(function(){
                var accural;
                var take;
                var balance;
                $("#periodsTbl tr").each(function (index) {
                    take = parseFloat($(this).find(".take").val());
                    if(index > 0) {
                        if(index == 1) {
                            accural = parseFloat($(this).find(".accural").text());
                            balance = parseFloat($(this).find(".balance").text());
                            balance = balance - take;
                        }
                        else {
                            balance = balance + accural - take;
                        }
                        $(this).find(".balance").text(balance.toFixed(2));
                    }
                });
                $("#periodsTbl td:nth-child(4)").each(function () {
                    if (parseInt($(this).text()) >= @Model.MaxBalance) {
                        $(this).addClass('red-yellow');
                    }
                    else {
                        $(this).removeClass('red-yellow');
                    }
                });
            });
        });
    </script>
}