@model VacationAccrual.Models.PayPeriod

@{
    ViewBag.Title = "Forecast";
}

<br />
<div style="text-align:center"><h1>Vacation/PTO Accrual Calculator/Forecast</h1></div>
<br />
<table class="table-centered-padded">
    <tr>
        <td><label style="font-size:25px">Pay period Startdate:</label></td>
        <td><label style="font-size:25px">Accrual:</label></td>
    </tr>
    <tr>
        <td><select asp-for="StartDate" asp-items="PayPeriod.GetStartDateList()"></select></td>
        <td>
            <input id="accrualTb" maxlength="4" style="width:60px; font-size:25px;" /> &nbsp;
	        <label style="font-size:20px">(hours)</label>
        </td>
    </tr>
    <tr>
        <td colspan="2"><button class="btn" id="goBtn">Go</button></td>
    </tr>
</table>
<br /><br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Period</th>
            <th>Accural</th>
            <th>Take</th>
            <th>Balance</th>
		</tr>
	</thead>
	<tbody>
        @foreach (var item in @ViewBag.ListofPeriods)
        {
            <tr>
                <td>@item.Period</td>
                <td>@item.Accural</td>
                <td>@item.Take</td>
                <td>@item.Balance</td>
            </tr>
        }
	</tbody>
</table>