@model VacationAccrual.Models.PayPeriod

@{
    ViewBag.Title = "Forecast";
}

<br />
<div style="text-align:center"><h1>Vacation/PTO Accrual Calculator/Forecast</h1></div>
<br />
<div style="text-align:center">
    <label style="font-size:25px">Current pay period Startdate:</label> &nbsp;&nbsp;
    <select asp-for="StartDate" asp-items="ViewBag.ListofStartDates"></select>&nbsp;
    <label style="font-size:25px">and Accrual:</label> &nbsp;&nbsp;
    <input id="accrualTb" maxlength="4" style="width:60px; font-size:25px;" /> &nbsp;
	<label style="font-size:25px; font-style:italic">(hours)</label>&nbsp;&nbsp;
    <button class="btn" id="goBtn">Go</button>
</div>
<br /><br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Period</th>
            <th>Accural</th>
            <th>Take</th>
            <th>Balance</th>
		</tr>
	</thead>
	<tbody>
        @foreach (var item in @ViewBag.ListofPeriods)
        {
            <tr>
                <td>@item.Period</td>
                <td>@item.Accural</td>
                <td>@item.Take</td>
                <td>@item.Balance</td>
            </tr>
        }
	</tbody>
</table>