@model VacationAccrual.Models.PayPeriod

@{
    ViewBag.Title = "Forecast";
}

<div style="text-align:center"><h2>Vacation/PTO Accrual Calculator/Forecast</h2></div>
<br />
<div style="text-align:center">
    <label style="font-size:18px">Pay period Startdate:</label>&nbsp;
    <select style="font-size:15px" asp-for="StartDate" asp-items="PayPeriod.GetStartDateList()"></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label style="font-size:18px">Accrual:</label>&nbsp;
    <input id="accrualTb" maxlength="4" style="width:40px; font-size:15px;" />&nbsp;
	<label style="font-size:18px">(hours)</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn" id="goBtn" style="font-size:15px">Go</button>
</div>
<br /><br />
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Period</th>
            <th>Accural</th>
            <th>Take</th>
            <th>Balance</th>
		</tr>
	</thead>
	<tbody>
        @foreach (var item in @ViewBag.ListofPeriods)
        {
            <tr>
                <td>@item.Period</td>
                <td>@item.Accural</td>
                <td>@item.Take</td>
                <td>@item.Balance</td>
            </tr>
        }
	</tbody>
</table>